[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw
[submodule "externals/imgui/imgui"]
	path = externals/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
